{% extends 'base.html' %}
{% block content %}
	<div class="row movies">
		{% for movie in movies %}
		    <div class="col-md-3 movie">
		    	<a style="cursor: pointer;" data-toggle="modal" data-target="#{{ movie.id }}">
			    	<img src="{{ movie.poster }}" alt="No Image" />
			    	<label style="cursor: pointer;">{{ movie.title }}</label>
			    </a>
		    </div>
		    <!-- Modal -->
			<div class="modal fade" id="{{ movie.id }}" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">{{movie.title}}</h4>
						</div>
						<div class="modal-body">
							<b>Description:</b> <p>{{movie.description}}</p>
							<b>Release Date:</b> <p>{{movie.release_date}}</p>
							<b>Languages:</b> <p>{{movie.languages}}</p>
							<b>Rating(IMDB):</b> <b><p style="color: #ff9900;">{{movie.imdb_rating}}</p></b>
							<b>IMDB Url:</b> <p><a href="{{movie.imdb_url}}" target="_blank">{{movie.imdb_url}}</a></p>
							<b>Length:</b> <p>{{movie.length}} mins</p>
							{% if movie.trailer_url %}
								<a href="{{movie.trailer_url}}" target="_blank">View trailer here</a>
							{% else %}
								<p style="color: red;">No Trailer</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<br>

	<div class="pagination">
	    <span class="step-links">
	        {% if movies.has_previous %}
	            <a href="?page={{ movies.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
	        </span>

	        {% if movies.has_next %}
	            <a href="?page={{ movies.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
{% endblock%}